html,
body {
   margin:0;
   padding:0;    
}

body {
   border-top:5px #c51b1b solid;
   height:100%;
}

header {
    height:90px;
}

header #title {
    float:left;
}

header #login {
    float:right;
    margin:10px;
}

header #heading_title {
    font-family: Serif;
    font-size: 72px;
    height: 72px;
    margin: 0 0 0 20px;

}

#content {
    clear:both;
    padding-bottom:45px;
    height:100%;
    margin-bottom:-55px;
    margin-left:10px;
}

footer {
    background-color:#f1da6d;
    color:#c51b1b;
    font-size:small;
    width:100%;
    min-height:45px;
    position:absolute;
}

footer span {
    margin:10px;
    position:absolute;
    bottom:0px;
}

footer .copyright {
    right:0px;
    
}

footer .attribution {
    max-width:50%;
}

.break_div {
    clear:both;
    height:10px;
}