#groups_wrapper {
    width:100%;
}

#groups_wrapper ul {
    list-style:none;
    padding:0px;

}

#groups_wrapper li {
    background-color: #f1da6d;
    float: left;
    height: 100px;
    margin: 10px;
    min-width: 100px;
    text-align: center;
    width: 20%;
    overflow:hidden;
}

#groups_wrapper li a {
    color:#c51b1b;
    text-decoration:none;
}

#groups_wrapper li h3 {
    height:100%;
    margin:5px;
}