#management_wrapper {
   
}

#management_wrapper table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#management_wrapper td {
    border: 1px solid black;
}

#management_wrapper th {
    border: 1px solid black;
    background-color:#f1da6d;
}

#management_wrapper .order_tb {
    width:30px;
}