#entries_wrapper {
}

.feed_entry {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
}

.feed_entry img {

    max-width:80%;

}

#read_next {
    width:100px;
    height:100px;
}

.feed_title {
    margin:0px;
}

.feed_info {
    color:grey;
    margin:0px;
    font-size:smaller;
}