<!DOCTYPE html>
    <head>
      {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Ruminate - {% block title %}{% endblock %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='touch-icon57.png') }}"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}" type="text/css" media="screen" />
      {% block extra_head %}
      {% endblock %}      
      {% endblock %}
    </head>
    <body>
      <header>
	{% block header %}
	<div id="title">
	  <a href="/"><img src="{{ url_for('static', filename='touch-icon57.png') }}" alt="Ruminate" title="Rumaninate" /></a>
	  <span id="heading_title">{{self.title()}}</span>
	</div>
	<div id="login">
	  {% if username %}
	  <a href="/logout">Logout</a> |
	  <a href="/m">Management</a>
	  {% endif %}
	</div>
        {% endblock %}
      </header>
      <div class="break_div" >&nbsp;</div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div class="break_div">&nbsp;</div>
      <footer>
        {% block footer %}
	<span class="attribution">
<a href="https://bitbucket.org/andrewcox/ruminate" target="_blank">Ruminate</a> is a creation of Andrew Cox (<a href="https://twitter.com/vipox" target="_blank">@vipox</a>). - Version 0.1</span>	
	<span class="copyright">Copyright Andrew Cox</span>
        {% endblock %}
      </footer>
    </body>
</html>
