{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="static/index.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<section id="groups_wrapper">
  <h2>Pick a group to start reading</h2>

    <ul>
      {% for group in user["groups"] %}
      <li>
	<a href="/r/{{loop.index0}}">
	  <h3>
	    {{group["name"]|title}}
	  </h3>
	</a>
      </li>
      {% endfor %}
    </ul>
</section>

{% endblock %}
