{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<section id="login_wrapper">
  <form method="POST" action="." id="login">
    {{ form.csrf_token }}
    {% for field in form %}
    {% if field.name != 'csrf_token' %}
    <div>
    {{ field.label }}
    {{ field }} 
    {% if field.errors %}
    <br>
    {% for error in field.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <input id="login" type="submit" value="Login">
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <br>
  <span class="error">{{ message }}</span>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</section>
{% endblock %}
