{% extends "base.html" %}
{% block title %}Management{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='management.css')}}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<section id="management_wrapper">
  <h3>{{user["groups"][group_index]["name"]}}</h3>
    <table>
      <thead>
	<tr>
	  <th colspan="8">Feeds</th>
	</tr>
	<tr>
	  <th>title</th>
	  <th>htmlUrl</th>
	  <th>xmlUrl</th>
	  <th>last checked</th>
	  <th>feedtype</th>
	  <th>last updated status</th>
	  <th>ignore</th>
	  <th>inserted on</th>
      </thead>
      <tbody>
	{% for feed in user["groups"][group_index]["feed_data"].items() %}
	<tr>
	  <td>{{feed[1]['title']}} </td>
	  <td>{{feed[1]['htmlUrl']}} </td>
	  <td>{{feed[1]['xmlUrl']}} </td>
	  <td>{{feed[1]['last_checked'].strftime('%Y-%m-%d %H:%M')}} </td>
	  <td>{{feed[1]['feedtype']}} </td>
	  <td>{{feed[1]['last_updated_status']}} </td>
	  <td>{{feed[1]['ignore']}} </td>
	  <td>{{feed[1]['inserted_on'].strftime('%Y-%m-%d %H:%M')}} </td>
	</tr>
    {% endfor %}
      </tbody>
    </table>
<br>
</section>
{% endblock %}
