{% extends "base.html" %}
{% block title %}Management{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='management.css')}}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<section id="management_wrapper">
  <h3>{{user["username"]}}</h3>
  <h3>Groups</h3>
  <form method="POST" id="management_form" action="{{url_for('management')}}">
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Inserted</th>
	  <th>Feeds</th>
	  <th>Order</th>
	  <th>Delete</th>
	</tr>
      </thead>
      <tbody>
	{% for group in user["groups"] %}
	<tr>
	  <td><a href="{{ url_for('management_group', group_index=loop.index0) }}">{{group["name"]}}</a></td>
	  <td>{{group["inserted_on"].date()}}</td>
	  <td>{{group["feeds"]|count}}</td>
	  <td><input name="O_{{loop.index}}" type="text" value="{{loop.index}}" class="order_tb"></td>
	  <td><input name="D_{{loop.index}}" type="checkbox"></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  <input type="submit" value="Update Groups" />
  </form>
</section>
{% endblock %}
