{% extends "base.html" %}
{% block title %}{{group['name']|title}}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/read_group_entries.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<form method="POST" id="read_entries" action="/r/{{group_index}}">
  
  <section id="entries_wrapper">
    {% if entries %}
    {% for entry in entries %}
    <div class="feed_entry">
      <h3 class="feed_title"><a href="{{entry['link']}}">{{entry["title"]}}</a></h3>
      <p class="feed_info">
	{{entry["author"]}} | {{entry["entry_datetime"]}} | {{entry["feed_title"]}}
      </p>
      <p>
	{% if entry["content"] %}
	{{entry["content"][0]["value"]|safe}}
	{% else %}
	{{entry["summary"]|safe}}
	{% endif %}
      </p>
      <span>
	<input type="hidden" name="E_{{entry["_id"]}}" value="r" />
      </span>
    </div>
    {% endfor %}
    {% else %}
    <h3>No Entries</h3>
    {% endif %}
  </section>

  <input id="read_next" type="submit" name="read_next" value="NEXT" />

</form>

<div style="clear:both">&nbsp;</div>


{% endblock %}
